a.out
actions.o
.gitignore
actor.o
ccpanico.exe
cmp.bat
dice.o
engine.o
fight.o
main.o
openal32.dll
place.o
player.o
sfml-audio-2.dll
sfml-audio-d-2.dll
sfml-graphics-2.dll
sfml-graphics-d-2.dll
sfml-network-2.dll
sfml-network-d-2.dll
sfml-system-2.dll
sfml-system-d-2.dll
sfml-window-2.dll
sfml-window-d-2.dll
tgui.dll
.vscode/c_cpp_properties.json
.vscode/settings.json